# Comparação entre os Censos Escolares de 2015 a 2018

## Primeiro passo: criar um dataset com apenas as colunas que serão utilizadas para treinar o modelo

Importando o pacote pandas

In [1]:
import pandas as pd

Importando os datasets de 2015 e 2016

In [2]:
matriculas_2015 = pd.read_csv('dataset/2015/MATRICULA_CO.CSV', sep='|')

In [3]:
matriculas_2016 = pd.read_csv('dataset/2016/MATRICULA_CO.CSV', sep='|')

In [37]:
matriculas_2017 = pd.read_csv('dataset/2017/MATRICULA_CO.CSV', sep='|')

MemoryError:

Analisando o conteúdo dos datasets

In [4]:
matriculas_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4064193 entries, 0 to 4064192
Data columns (total 93 columns):
NU_ANO_CENSO                     int64
ID_MATRICULA                     int64
CO_PESSOA_FISICA                 int64
NU_DIA                           int64
NU_MES                           int64
NU_ANO                           int64
NU_IDADE_REFERENCIA              int64
NU_IDADE                         int64
NU_DURACAO_TURMA                 float64
NU_DUR_ATIV_COMP_MESMA_REDE      float64
NU_DUR_ATIV_COMP_OUTRAS_REDES    float64
NU_DUR_AEE_MESMA_REDE            float64
NU_DUR_AEE_OUTRAS_REDES          float64
NU_DIAS_ATIVIDADE                int64
TP_SEXO                          int64
TP_COR_RACA                      int64
TP_NACIONALIDADE                 int64
CO_PAIS_ORIGEM                   int64
CO_UF_NASC                       float64
CO_MUNICIPIO_NASC                float64
CO_UF_END                        float64
CO_MUNICIPIO_END                 float64
TP_ZONA_RESIDENCIAL              int64
TP_OUTRO_LOCAL_AULA              int64
IN_TRANSPORTE_PUBLICO            int64
TP_RESPONSAVEL_TRANSPORTE        float64
IN_TRANSP_VANS_KOMBI             float64
IN_TRANSP_MICRO_ONIBUS           float64
IN_TRANSP_ONIBUS                 float64
IN_TRANSP_BICICLETA              float64
IN_TRANSP_TR_ANIMAL              float64
IN_TRANSP_OUTRO_VEICULO          float64
IN_TRANSP_EMBAR_ATE5             float64
IN_TRANSP_EMBAR_5A15             float64
IN_TRANSP_EMBAR_15A35            float64
IN_TRANSP_EMBAR_35               float64
IN_TRANSP_TREM_METRO             float64
IN_NECESSIDADE_ESPECIAL          int64
IN_CEGUEIRA                      float64
IN_BAIXA_VISAO                   float64
IN_SURDEZ                        float64
IN_DEF_AUDITIVA                  float64
IN_SURDOCEGUEIRA                 float64
IN_DEF_FISICA                    float64
IN_DEF_INTELECTUAL               float64
IN_DEF_MULTIPLA                  float64
IN_AUTISMO                       float64
IN_SINDROME_ASPERGER             float64
IN_SINDROME_RETT                 float64
IN_TRANSTORNO_DI                 float64
IN_SUPERDOTACAO                  float64
IN_RECURSO_LEDOR                 float64
IN_RECURSO_TRANSCRICAO           float64
IN_RECURSO_INTERPRETE            float64
IN_RECURSO_LIBRAS                float64
IN_RECURSO_LABIAL                float64
IN_RECURSO_BRAILLE               float64
IN_RECURSO_AMPLIADA_16           float64
IN_RECURSO_AMPLIADA_20           float64
IN_RECURSO_AMPLIADA_24           float64
IN_RECURSO_NENHUM                float64
TP_INGRESSO_FEDERAIS             float64
TP_MEDIACAO_DIDATICO_PEDAGO      int64
IN_ESPECIAL_EXCLUSIVA            float64
IN_REGULAR                       float64
IN_EJA                           float64
IN_PROFISSIONALIZANTE            float64
TP_ETAPA_ENSINO                  float64
TP_ETAPA_AGREGADA                float64
ID_TURMA                         int64
CO_CURSO_EDUC_PROFISSIONAL       float64
TP_UNIFICADA                     float64
TP_TIPO_TURMA                    int64
CO_ENTIDADE                      int64
CO_REGIAO                        int64
CO_MESORREGIAO                   int64
CO_MICRORREGIAO                  int64
CO_UF                            int64
CO_MUNICIPIO                     int64
CO_DISTRITO                      int64
TP_DEPENDENCIA                   int64
TP_LOCALIZACAO                   int64
TP_CATEGORIA_ESCOLA_PRIVADA      float64
IN_CONVENIADA_PP                 float64
TP_CONVENIO_PODER_PUBLICO        float64
IN_MANT_ESCOLA_PRIVADA_EMP       float64
IN_MANT_ESCOLA_PRIVADA_ONG       float64
IN_MANT_ESCOLA_PRIVADA_SIND      float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    float64
TP_REGULAMENTACAO                int64
TP_LOCALIZACAO_DIFERENCIADA      int64
IN_EDUCACAO_INDIGENA             int64
dtypes: float64(61), int64(32)
memory usage: 2.8 GB

In [5]:
matriculas_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3924436 entries, 0 to 3924435
Data columns (total 92 columns):
NU_ANO_CENSO                     int64
ID_MATRICULA                     int64
CO_PESSOA_FISICA                 int64
NU_DIA                           int64
NU_MES                           int64
NU_ANO                           int64
NU_IDADE_REFERENCIA              int64
NU_IDADE                         int64
NU_DURACAO_TURMA                 float64
NU_DUR_ATIV_COMP_MESMA_REDE      float64
NU_DUR_ATIV_COMP_OUTRAS_REDES    float64
NU_DUR_AEE_MESMA_REDE            float64
NU_DUR_AEE_OUTRAS_REDES          float64
NU_DIAS_ATIVIDADE                int64
TP_SEXO                          int64
TP_COR_RACA                      int64
TP_NACIONALIDADE                 int64
CO_PAIS_ORIGEM                   int64
CO_UF_NASC                       float64
CO_MUNICIPIO_NASC                float64
CO_UF_END                        float64
CO_MUNICIPIO_END                 float64
TP_ZONA_RESIDENCIAL              int64
TP_OUTRO_LOCAL_AULA              int64
IN_TRANSPORTE_PUBLICO            int64
TP_RESPONSAVEL_TRANSPORTE        float64
IN_TRANSP_VANS_KOMBI             float64
IN_TRANSP_MICRO_ONIBUS           float64
IN_TRANSP_ONIBUS                 float64
IN_TRANSP_BICICLETA              float64
IN_TRANSP_TR_ANIMAL              float64
IN_TRANSP_OUTRO_VEICULO          float64
IN_TRANSP_EMBAR_ATE5             float64
IN_TRANSP_EMBAR_5A15             float64
IN_TRANSP_EMBAR_15A35            float64
IN_TRANSP_EMBAR_35               float64
IN_TRANSP_TREM_METRO             float64
IN_NECESSIDADE_ESPECIAL          int64
IN_CEGUEIRA                      float64
IN_BAIXA_VISAO                   float64
IN_SURDEZ                        float64
IN_DEF_AUDITIVA                  float64
IN_SURDOCEGUEIRA                 float64
IN_DEF_FISICA                    float64
IN_DEF_INTELECTUAL               float64
IN_DEF_MULTIPLA                  float64
IN_AUTISMO                       float64
IN_SINDROME_ASPERGER             float64
IN_SINDROME_RETT                 float64
IN_TRANSTORNO_DI                 float64
IN_SUPERDOTACAO                  float64
IN_RECURSO_LEDOR                 float64
IN_RECURSO_TRANSCRICAO           float64
IN_RECURSO_INTERPRETE            float64
IN_RECURSO_LIBRAS                float64
IN_RECURSO_LABIAL                float64
IN_RECURSO_BRAILLE               float64
IN_RECURSO_AMPLIADA_16           float64
IN_RECURSO_AMPLIADA_20           float64
IN_RECURSO_AMPLIADA_24           float64
IN_RECURSO_NENHUM                float64
TP_INGRESSO_FEDERAIS             float64
TP_MEDIACAO_DIDATICO_PEDAGO      int64
IN_ESPECIAL_EXCLUSIVA            float64
IN_REGULAR                       float64
IN_EJA                           float64
IN_PROFISSIONALIZANTE            float64
TP_ETAPA_ENSINO                  float64
ID_TURMA                         int64
CO_CURSO_EDUC_PROFISSIONAL       float64
TP_UNIFICADA                     float64
TP_TIPO_TURMA                    int64
CO_ENTIDADE                      int64
CO_REGIAO                        int64
CO_MESORREGIAO                   int64
CO_MICRORREGIAO                  int64
CO_UF                            int64
CO_MUNICIPIO                     int64
CO_DISTRITO                      int64
TP_DEPENDENCIA                   int64
TP_LOCALIZACAO                   int64
TP_CATEGORIA_ESCOLA_PRIVADA      float64
IN_CONVENIADA_PP                 float64
TP_CONVENIO_PODER_PUBLICO        float64
IN_MANT_ESCOLA_PRIVADA_EMP       float64
IN_MANT_ESCOLA_PRIVADA_ONG       float64
IN_MANT_ESCOLA_PRIVADA_SIND      float64
IN_MANT_ESCOLA_PRIVADA_SIST_S    float64
IN_MANT_ESCOLA_PRIVADA_S_FINS    float64
TP_REGULAMENTACAO                int64
TP_LOCALIZACAO_DIFERENCIADA      int64
IN_EDUCACAO_INDIGENA             int64
dtypes: float64(60), int64(32)
memory usage: 2.7 GB

In [ ]:
matriculas_2017.info()

Como os datasets tem quantidades distintas de colunas, 93 no de 2015 e 92 no de 2016, vamos selecionar apenas as colunas presentes nos dois simultaneamente. Primeiro, vamos listar as colunas de cada dataset.

In [ ]:
nomes_colunas_2015 = matriculas_2015.columns.tolist()
nomes_colunas_2016 = matriculas_2016.columns.tolist()
nomes_colunas_2017 = matriculas_2017.columns.tolist()

Agora vamos Listar a interseção das colunas

In [7]:
nomes_colunas_2015_2016 = list(set(nomes_colunas_2015).intersection(nomes_colunas_2016))
nomes_colunas_2015_2016

['IN_SURDOCEGUEIRA',
 'IN_TRANSP_TREM_METRO',
 'IN_DEF_AUDITIVA',
 'IN_RECURSO_AMPLIADA_20',
 'NU_ANO',
 'CO_MUNICIPIO',
 'IN_CONVENIADA_PP',
 'IN_BAIXA_VISAO',
 'TP_UNIFICADA',
 'IN_RECURSO_NENHUM',
 'ID_MATRICULA',
 'IN_RECURSO_LIBRAS',
 'TP_CONVENIO_PODER_PUBLICO',
 'TP_MEDIACAO_DIDATICO_PEDAGO',
 'CO_MICRORREGIAO',
 'IN_MANT_ESCOLA_PRIVADA_EMP',
 'CO_ENTIDADE',
 'TP_LOCALIZACAO',
 'IN_AUTISMO',
 'NU_ANO_CENSO',
 'ID_TURMA',
 'IN_TRANSP_EMBAR_ATE5',
 'NU_DUR_ATIV_COMP_OUTRAS_REDES',
 'IN_MANT_ESCOLA_PRIVADA_SIND',
 'IN_EDUCACAO_INDIGENA',
 'IN_MANT_ESCOLA_PRIVADA_S_FINS',
 'IN_CEGUEIRA',
 'IN_SINDROME_ASPERGER',
 'NU_DIAS_ATIVIDADE',
 'NU_IDADE_REFERENCIA',
 'IN_TRANSP_EMBAR_15A35',
 'TP_ETAPA_ENSINO',
 'CO_MESORREGIAO',
 'IN_RECURSO_INTERPRETE',
 'NU_DUR_AEE_OUTRAS_REDES',
 'IN_RECURSO_LABIAL',
 'CO_UF_END',
 'TP_DEPENDENCIA',
 'IN_TRANSTORNO_DI',
 'NU_IDADE',
 'IN_TRANSP_MICRO_ONIBUS',
 'IN_RECURSO_AMPLIADA_16',
 'IN_TRANSP_TR_ANIMAL',
 'CO_MUNICIPIO_END',
 'IN_DEF_INTELECTUAL',
 'NU_DIA',
 'CO_MUNICIPIO_NASC',
 'TP_REGULAMENTACAO',
 'CO_DISTRITO',
 'IN_NECESSIDADE_ESPECIAL',
 'IN_TRANSP_EMBAR_35',
 'IN_RECURSO_AMPLIADA_24',
 'IN_TRANSP_OUTRO_VEICULO',
 'IN_TRANSPORTE_PUBLICO',
 'NU_DUR_ATIV_COMP_MESMA_REDE',
 'IN_SINDROME_RETT',
 'NU_DURACAO_TURMA',
 'IN_RECURSO_TRANSCRICAO',
 'IN_MANT_ESCOLA_PRIVADA_ONG',
 'TP_CATEGORIA_ESCOLA_PRIVADA',
 'IN_TRANSP_ONIBUS',
 'IN_EJA',
 'IN_RECURSO_LEDOR',
 'CO_PESSOA_FISICA',
 'CO_CURSO_EDUC_PROFISSIONAL',
 'TP_NACIONALIDADE',
 'CO_UF',
 'CO_REGIAO',
 'TP_LOCALIZACAO_DIFERENCIADA',
 'IN_MANT_ESCOLA_PRIVADA_SIST_S',
 'IN_RECURSO_BRAILLE',
 'IN_DEF_FISICA',
 'TP_COR_RACA',
 'TP_RESPONSAVEL_TRANSPORTE',
 'IN_DEF_MULTIPLA',
 'IN_SURDEZ',
 'IN_TRANSP_EMBAR_5A15',
 'CO_PAIS_ORIGEM',
 'IN_REGULAR',
 'TP_OUTRO_LOCAL_AULA',
 'NU_MES',
 'IN_PROFISSIONALIZANTE',
 'IN_SUPERDOTACAO',
 'TP_SEXO',
 'IN_TRANSP_VANS_KOMBI',
 'TP_TIPO_TURMA',
 'NU_DUR_AEE_MESMA_REDE',
 'TP_INGRESSO_FEDERAIS',
 'IN_TRANSP_BICICLETA',
 'TP_ZONA_RESIDENCIAL',
 'IN_ESPECIAL_EXCLUSIVA',
 'CO_UF_NASC']

E podemos listar as colunas (no caso a coluna) que foi retirada do dataset

In [8]:
nomes_colunas_retiradas_2016 = list(set(nomes_colunas_2015).difference(nomes_colunas_2016))
nomes_colunas_retiradas_2016

['TP_ETAPA_AGREGADA']

Agora vamos localizar os índices das colunas pelo seu nome e armazenar numa lista

In [9]:
indices_colunas_2015 = []
for nome in nomes_colunas_2015_2016:
    indice_coluna = matriculas_2015.columns.get_loc(nome)
    indices_colunas_2015.append(indice_coluna)
indices_colunas_2015.sort()

Vamos verificar se agora temos a mesma quantidade de colunas

In [10]:
len(indices_colunas_2015) == len(matriculas_2016.columns.tolist())

True

Vamos listar as colunas com seus respectivos índices para poder selecionar quais permanecerão no dataset de treino

In [11]:
for indice in indices_colunas_2015:
    nome_coluna = matriculas_2015.columns.tolist()[indice]
    print(f'{indice} - {nome_coluna}')

0 - NU_ANO_CENSO
1 - ID_MATRICULA
2 - CO_PESSOA_FISICA
3 - NU_DIA
4 - NU_MES
5 - NU_ANO
6 - NU_IDADE_REFERENCIA
7 - NU_IDADE
8 - NU_DURACAO_TURMA
9 - NU_DUR_ATIV_COMP_MESMA_REDE
10 - NU_DUR_ATIV_COMP_OUTRAS_REDES
11 - NU_DUR_AEE_MESMA_REDE
12 - NU_DUR_AEE_OUTRAS_REDES
13 - NU_DIAS_ATIVIDADE
14 - TP_SEXO
15 - TP_COR_RACA
16 - TP_NACIONALIDADE
17 - CO_PAIS_ORIGEM
18 - CO_UF_NASC
19 - CO_MUNICIPIO_NASC
20 - CO_UF_END
21 - CO_MUNICIPIO_END
22 - TP_ZONA_RESIDENCIAL
23 - TP_OUTRO_LOCAL_AULA
24 - IN_TRANSPORTE_PUBLICO
25 - TP_RESPONSAVEL_TRANSPORTE
26 - IN_TRANSP_VANS_KOMBI
27 - IN_TRANSP_MICRO_ONIBUS
28 - IN_TRANSP_ONIBUS
29 - IN_TRANSP_BICICLETA
30 - IN_TRANSP_TR_ANIMAL
31 - IN_TRANSP_OUTRO_VEICULO
32 - IN_TRANSP_EMBAR_ATE5
33 - IN_TRANSP_EMBAR_5A15
34 - IN_TRANSP_EMBAR_15A35
35 - IN_TRANSP_EMBAR_35
36 - IN_TRANSP_TREM_METRO
37 - IN_NECESSIDADE_ESPECIAL
38 - IN_CEGUEIRA
39 - IN_BAIXA_VISAO
40 - IN_SURDEZ
41 - IN_DEF_AUDITIVA
42 - IN_SURDOCEGUEIRA
43 - IN_DEF_FISICA
44 - IN_DEF_INTELECTUAL
45 - IN_DEF_MULTIPLA
46 - IN_AUTISMO
47 - IN_SINDROME_ASPERGER
48 - IN_SINDROME_RETT
49 - IN_TRANSTORNO_DI
50 - IN_SUPERDOTACAO
51 - IN_RECURSO_LEDOR
52 - IN_RECURSO_TRANSCRICAO
53 - IN_RECURSO_INTERPRETE
54 - IN_RECURSO_LIBRAS
55 - IN_RECURSO_LABIAL
56 - IN_RECURSO_BRAILLE
57 - IN_RECURSO_AMPLIADA_16
58 - IN_RECURSO_AMPLIADA_20
59 - IN_RECURSO_AMPLIADA_24
60 - IN_RECURSO_NENHUM
61 - TP_INGRESSO_FEDERAIS
62 - TP_MEDIACAO_DIDATICO_PEDAGO
63 - IN_ESPECIAL_EXCLUSIVA
64 - IN_REGULAR
65 - IN_EJA
66 - IN_PROFISSIONALIZANTE
67 - TP_ETAPA_ENSINO
69 - ID_TURMA
70 - CO_CURSO_EDUC_PROFISSIONAL
71 - TP_UNIFICADA
72 - TP_TIPO_TURMA
73 - CO_ENTIDADE
74 - CO_REGIAO
75 - CO_MESORREGIAO
76 - CO_MICRORREGIAO
77 - CO_UF
78 - CO_MUNICIPIO
79 - CO_DISTRITO
80 - TP_DEPENDENCIA
81 - TP_LOCALIZACAO
82 - TP_CATEGORIA_ESCOLA_PRIVADA
83 - IN_CONVENIADA_PP
84 - TP_CONVENIO_PODER_PUBLICO
85 - IN_MANT_ESCOLA_PRIVADA_EMP
86 - IN_MANT_ESCOLA_PRIVADA_ONG
87 - IN_MANT_ESCOLA_PRIVADA_SIND
88 - IN_MANT_ESCOLA_PRIVADA_SIST_S
89 - IN_MANT_ESCOLA_PRIVADA_S_FINS
90 - TP_REGULAMENTACAO
91 - TP_LOCALIZACAO_DIFERENCIADA
92 - IN_EDUCACAO_INDIGENA

Criando a lista com as colunas selecionadas

In [12]:
indices_colunas_2015_selecionadas = [6, 7, 14, 15, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

Criando um novo dataframe apenas com as colunas selecionadas

In [13]:
matriculas_2015_selecionado = matriculas_2015.iloc[:, indices_colunas_2015_selecionadas]

In [14]:
matriculas_2015_selecionado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4064193 entries, 0 to 4064192
Data columns (total 43 columns):
NU_IDADE_REFERENCIA          int64
NU_IDADE                     int64
TP_SEXO                      int64
TP_COR_RACA                  int64
TP_ZONA_RESIDENCIAL          int64
TP_OUTRO_LOCAL_AULA          int64
IN_TRANSPORTE_PUBLICO        int64
TP_RESPONSAVEL_TRANSPORTE    float64
IN_TRANSP_VANS_KOMBI         float64
IN_TRANSP_MICRO_ONIBUS       float64
IN_TRANSP_ONIBUS             float64
IN_TRANSP_BICICLETA          float64
IN_TRANSP_TR_ANIMAL          float64
IN_TRANSP_OUTRO_VEICULO      float64
IN_TRANSP_EMBAR_ATE5         float64
IN_TRANSP_EMBAR_5A15         float64
IN_TRANSP_EMBAR_15A35        float64
IN_TRANSP_EMBAR_35           float64
IN_TRANSP_TREM_METRO         float64
IN_NECESSIDADE_ESPECIAL      int64
IN_CEGUEIRA                  float64
IN_BAIXA_VISAO               float64
IN_SURDEZ                    float64
IN_DEF_AUDITIVA              float64
IN_SURDOCEGUEIRA             float64
IN_DEF_FISICA                float64
IN_DEF_INTELECTUAL           float64
IN_DEF_MULTIPLA              float64
IN_AUTISMO                   float64
IN_SINDROME_ASPERGER         float64
IN_SINDROME_RETT             float64
IN_TRANSTORNO_DI             float64
IN_SUPERDOTACAO              float64
IN_RECURSO_LEDOR             float64
IN_RECURSO_TRANSCRICAO       float64
IN_RECURSO_INTERPRETE        float64
IN_RECURSO_LIBRAS            float64
IN_RECURSO_LABIAL            float64
IN_RECURSO_BRAILLE           float64
IN_RECURSO_AMPLIADA_16       float64
IN_RECURSO_AMPLIADA_20       float64
IN_RECURSO_AMPLIADA_24       float64
IN_RECURSO_NENHUM            float64
dtypes: float64(35), int64(8)
memory usage: 1.3 GB

O novo dataframe tem apenas 43 das 92 colunas originais. Agora vamos preencher os valores nulos com o valor 0

In [15]:
matriculas_2015_selecionado = matriculas_2015_selecionado.fillna(0)

In [16]:
matriculas_2015_selecionado.head()

,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ZONA_RESIDENCIAL,TP_OUTRO_LOCAL_AULA,IN_TRANSPORTE_PUBLICO,TP_RESPONSAVEL_TRANSPORTE,IN_TRANSP_VANS_KOMBI,IN_TRANSP_MICRO_ONIBUS,...,IN_RECURSO_LEDOR,IN_RECURSO_TRANSCRICAO,IN_RECURSO_INTERPRETE,IN_RECURSO_LIBRAS,IN_RECURSO_LABIAL,IN_RECURSO_BRAILLE,IN_RECURSO_AMPLIADA_16,IN_RECURSO_AMPLIADA_20,IN_RECURSO_AMPLIADA_24,IN_RECURSO_NENHUM
0,14,15,1,0,1,3,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,3,2,1,1,3,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14,15,2,3,1,3,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,4,1,1,1,3,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,4,2,1,1,3,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Segundo passo: criar uma nova coluna com o resultado obtido pelos estudantes no ano de 2015 com base nos dados do dataset de 2016

Para obter o resultado obtido pelos estudantes, vamos procurar no dataset de 2016 os estudantes que permaneceram na mesma etapa de ensino que estavam em 2015. De acordo com os dicionários de dados dos censos escolares, as etapas do ensino fundamental são as listadas abaixo:

#### Etapas do Ensino Fundamental (TP_ETAPA_ENSINO)

##### Anos iniciais
* 4 - Ensino Fundamental de 8 anos - 1ª Série
* 5 - Ensino Fundamental de 8 anos - 2ª Série
* 6 - Ensino Fundamental de 8 anos - 3ª Série
* 7 - Ensino Fundamental de 8 anos - 4ª Série
* 14 - Ensino Fundamental de 9 anos - 1º Ano
* 15 - Ensino Fundamental de 9 anos - 2º Ano
* 16 - Ensino Fundamental de 9 anos - 3º Ano
* 17 - Ensino Fundamental de 9 anos - 4º Ano
* 18 - Ensino Fundamental de 9 anos - 5º Ano

##### Anos finais
* 8 - Ensino Fundamental de 8 anos - 5ª Série
* 9 - Ensino Fundamental de 8 anos - 6ª Série
* 10 - Ensino Fundamental de 8 anos - 7ª Série
* 11 - Ensino Fundamental de 8 anos - 8ª Série
* 19 - Ensino Fundamental de 9 anos - 6º Ano
* 20 - Ensino Fundamental de 9 anos - 7º Ano
* 21 - Ensino Fundamental de 9 anos - 8º Ano
* 41 - Ensino Fundamental de 9 anos - 9º Ano

Vamos criar as listas com os códigos das etapas do ensino fundamental, tanto anos iniciais quanto anos finais, para utilizar como filtro dos datasets

In [17]:
etapas_fundamental_anos_iniciais = [4, 5, 6, 7, 14, 15, 16, 17, 18]
etapas_fundamental_anos_finais = [8, 9, 10, 11, 19, 20, 21, 41]
etapas_fundamental = etapas_fundamental_anos_iniciais + etapas_fundamental_anos_finais

Outros filtros realizados:
* IN_REGULAR: 1 (Ensino regular)
* CO_UF: 53 (Distrito Federal)
* TP_MEDIACAO_DIDATICO_PEDAGO: 1 (Presencial)
* IN_ESPECIAL_EXCLUSIVA: 0 (Não é turma exclusiva de alunos com deficiência)

Filtrando o dataset de 2015

In [18]:
matriculas_2015_fundamental_df = matriculas_2015.loc[
    (matriculas_2015['IN_REGULAR'] == 1) & 
    (matriculas_2015['TP_ETAPA_ENSINO'].isin(etapas_fundamental)) & 
    (matriculas_2015['CO_UF'] == 53) &
    (matriculas_2015['TP_MEDIACAO_DIDATICO_PEDAGO'] == 1) &
    (matriculas_2015['IN_ESPECIAL_EXCLUSIVA'] == 0),
    ['CO_PESSOA_FISICA', 'TP_ETAPA_ENSINO']]

Filtrando o dataset de 2016

In [19]:
matriculas_2016_fundamental_df = matriculas_2016.loc[
    (matriculas_2016['IN_REGULAR'] == 1) & 
    (matriculas_2016['TP_ETAPA_ENSINO'].isin(etapas_fundamental)) & 
    (matriculas_2016['CO_UF'] == 53) &
    (matriculas_2016['TP_MEDIACAO_DIDATICO_PEDAGO'] == 1) &
    (matriculas_2016['IN_ESPECIAL_EXCLUSIVA'] == 0),
    ['CO_PESSOA_FISICA', 'TP_ETAPA_ENSINO']]

Agora vamos fazer o inner join dos dataframes utilizando a coluna CO_PESSOA_FISICA como chave

In [20]:
matriculas_2015_2016_fundamental_df = matriculas_2015_fundamental_df.merge(matriculas_2016_fundamental_df, how='inner', left_on='CO_PESSOA_FISICA', right_on='CO_PESSOA_FISICA')

Obtendo o índice das linhas do dataframe que contém os dados dos estudantes reprovados

In [21]:
indices_reprovados_2015 = matriculas_2015_2016_fundamental_df.loc[matriculas_2015_2016_fundamental_df['TP_ETAPA_ENSINO_x'] == matriculas_2015_2016_fundamental_df['TP_ETAPA_ENSINO_y'], 'CO_PESSOA_FISICA'].index.tolist()

Obtendo o índice das linhas do dataframe que contém os dados dos estudantes aprovados

In [22]:
indices_aprovados_2015 = matriculas_2015_2016_fundamental_df.loc[matriculas_2015_2016_fundamental_df['TP_ETAPA_ENSINO_x'] != matriculas_2015_2016_fundamental_df['TP_ETAPA_ENSINO_y'], 'CO_PESSOA_FISICA'].index.tolist()

Criando a coluna do resultado com os valores provisórios

In [23]:
matriculas_2015_selecionado['RESULTADO'] = 'Sem resultado'

Mudando o valor provisório da coluna RESULTADO dos estudantes reprovados

In [24]:
matriculas_2015_selecionado.loc[indices_reprovados_2015, 'RESULTADO'] = 'Reprovado'

Mudando o valor provisório da coluna RESULTADO dos estudantes aprovados

In [25]:
matriculas_2015_selecionado.loc[indices_aprovados_2015, 'RESULTADO'] = 'Aprovado'

Verificando as quantidades de cada valor da coluna RESULTADO

In [26]:
matriculas_2015_selecionado['RESULTADO'].value_counts()

Sem resultado    3749161
Aprovado          284251
Reprovado          30781
Name: RESULTADO, dtype: int64

Obtendo o índice das linhas dos estudantes de outras UFs

In [27]:
indice_matriculas_outras_ufs = matriculas_2015_selecionado[matriculas_2015_selecionado['RESULTADO'] == 'Sem resultado'].index.tolist()

Excluindo as linhas dos estudantes de outras UFs

In [28]:
matriculas_2015_selecionado = matriculas_2015_selecionado.drop(indice_matriculas_outras_ufs)

Verificando novamente as quantidades de cada valor da coluna RESULTADO

In [29]:
matriculas_2015_selecionado['RESULTADO'].value_counts()

Aprovado     284251
Reprovado     30781
Name: RESULTADO, dtype: int64

## Terceiro passo: utilizar um classificador para tentar prever as reprovações dos estudantes

Importando os pacotes necessários

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

Inicializando o GradientBoostingClassifier

In [31]:
gb = GradientBoostingClassifier(n_estimators=900, min_samples_split=700, random_state=42)

Separando as colunas com os valores a serem analisados

In [32]:
x = matriculas_2015_selecionado.drop('RESULTADO', axis=1).values

Separando a coluna do resultado

In [33]:
y = matriculas_2015_selecionado['RESULTADO'].values

Separando o dataset entre treino e teste

In [34]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.25, random_state=42)

Treinando o classificador

In [35]:
gb.fit(x_treino, y_treino)

Wall time: 0 ns

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=700,
                           min_weight_fraction_leaf=0.0, n_estimators=900,
                           n_iter_no_change=None, presort='auto',
                           random_state=42, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

Mostrando a acurácia do classificador

In [36]:
print(gb.score(x_teste, y_teste))

0.9022956398080195

## * passo: verificando as 10 características mais importantes para determinar o resultado

Importando os pacotes necessários

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
Inicializando o

In [ ]:
bestfeatures = SelectKBest(score_func=chi2, k=15)

In [ ]:
matriculas_2015_selecionado['FORA_IDADE_REFERENCIA'] = 'Não'

In [ ]:
matriculas_2015_selecionado.loc[matriculas_2015_selecionado['NU_IDADE'] > matriculas_2015_selecionado['NU_IDADE_REFERENCIA'], 'FORA_IDADE_REFERENCIA'] = 'Sim'

In [ ]:
X = matriculas_2015_selecionado.drop(['NU_IDADE_REFERENCIA', 'NU_IDADE', 'RESULTADO'], axis=1)

In [ ]:
Y = matriculas_2015_selecionado['RESULTADO']

In [ ]:
fit = bestfeatures.fit(X, Y)

In [ ]:
dfscores = pd.DataFrame(fit.scores_)

In [ ]:
dfcolumns = pd.DataFrame(X.columns)

In [ ]:
featureScores = pd.concat([dfcolumns, dfscores], axis=1)

In [ ]:
featureScores.columns = ['Specs','Score']

In [ ]:
print(featureScores.nlargest(15, 'Score'))

In [ ]:
matriculas_2015_selecionado.loc[matriculas_2015_selecionado['IN_TRANSP_EMBAR_35'] == 1, 'RESULTADO'].value_counts()